doctype html
html(lang="en")
    head
        meta(charset="utf-8") 
        link(type="text/css", rel="stylesheet", href="/resources/mupload.css")
        title file sharing assist
        script(type='text/javascript' src="/resources/mupload.js")
    body
        #maxFileSize.hiddenDiv!= maxFileSize
        #uid.hiddenDiv!= userId
        #container
            #hiddenForm
                form(id="form0", enctype="multipart/form-data", method="post")
                    input(name="uid", type="hidden")
                    input(name="file", id="uploader", type="file" hidden="hidden")
            #uploadList
        #popupWindow
            p#popupText
            span#popupArrow
        #footer
            #cell1
                a#allButton
            #cell2
                a#addButton
            #cell3
                a#closeButton
