//-- Jade
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        link(type="image/ico" rel="icon" href="/favicon.ico")
        link(type="image/ico" rel="shortcut icon" href="/favicon.ico")
        link(type="text/css", rel="stylesheet", href="/resources/upload.css")
        <!--[if ie]><script type="text/javascript" src="/resources/excanvas.js"></script><![endif]-->
        script(type="text/javascript" src="/resources/qrcode.min.js")
        script(type="text/javascript" src="/resources/upload.js")
        script(type="text/javascript").
            window.onload = function () {
                var qrs = document.getElementsByClassName('smallqr');
                for (var i = 0; i < qrs.length; i++) {
                    var qr = qrs[i];
                    showQr(qr.getAttribute('url'), qr);
                    qr.onclick = function () {
                        showQr(this.getAttribute('url'));
                    };
                }
            }
        title shared files
    body
        style(type="text/css").
            .smallqr {
                width: 32px;
                height: 32px;
            }

        div
            span#title= "文件共享助手（微信号: " + wechatId + "）"
            a(href="/") 上传文件
        #uploadContainer
            table
                tr
                    td
                        span 序号
                    td
                        span 文件名
                    td
                        span 创建时间
                    td
                        span 二维码
                each val, index in fileList
                    -var url= val.url.slice(0, val.url.indexOf(' '))
                    tr
                        td
                            span=index+1
                        td
                            span
                                a(href= url)= val.fileName
                        td
                            span=val.createDate.toISOString()
                        td
                            canvas(class= "smallqr", url= url)

                            