//-- Jade
doctype html
html(lang="en")
    head
        meta(charset="utf-8") 
        link(type="text/css", rel="stylesheet", href="/resources/upload.css")
        title upload files
        <!--[if ie]><script type="text/javascript" src="/resources/excanvas.js"></script><![endif]-->
        script(type="text/javascript" src="/resources/qrcode.min.js")
        script(type="text/javascript" src="/resources/upload.js")
        script(type="text/javascript").
            window.onload = initDom;
    body
        #maxFileSize.hiddenDiv!= maxFileSize
        #uid.hiddenDiv!= userId
        form(id="form0", enctype="multipart/form-data", method="post")
            div
                input(name="uid", type="hidden")
            div
                span#hint 请点击图标上传文件
                span#loadingText
            div
                img(id="uploadButton", alt="click to upload a file", src="/resources/upload-icon.png", onclick="upload()")
            div
                input(name="file", id="uploader", type="file" hidden="hidden")
        #uploadContainer
