//-- Jade
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        link(type="image/ico" rel="icon" href="/favicon.ico")
        link(type="image/ico" rel="shortcut icon" href="/favicon.ico")
        link(type="text/css", rel="stylesheet", href="/resources/upload.css")
        title upload files
        <!--[if ie]><script type="text/javascript" src="/resources/excanvas.js"></script><![endif]-->
        script(type="text/javascript" src="/resources/qrcode.min.js")
        script(type="text/javascript" src="/resources/upload.js")
        script(type="text/javascript").
            window.onload = initDom;
    body
        #maxFileSize.hiddenDiv!= maxFileSize
        #uid.hiddenDiv!= userId
        form(id="form0", enctype="multipart/form-data", method="post")
            div
                input(name="uid", type="hidden")
            div
                span#title= "文件共享助手（微信号: " + wechatId + "）"
            div
                img(id="uploadButton", alt="点击上传文件", src="/resources/wxid.jpg", onclick="upload()")
            div
                span#hint 请点击微信二维码上传文件
                span#loadingText            
            div
                input(name="file", id="uploader", type="file" hidden="hidden")
        #uploadContainer
