<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link type="text/css" rel="stylesheet" href="../resources/mupload.css" />
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript" src="../resources/mupload.js"></script>
        <title></title>
    </head>
    <body>
        <div id="uploadList">
            <ul class="collapse-set">
                <% for (var i = 0; i < fileList.length; i++) { %>
                <li class="collapse-item-folded">
                    <a class="ci-title" filename="<%= fileList[i].fileName %>">
                        <span></span>
                    </a>
                    <div class="ci-details"><p class="auto-select-text"><%= fileList[i].url %></p></div>
                </li>
                <% } %>
            </ul>
        </div>
        <div id="popupWindow" class="hidden">
            <p></p>
        </div>
        <div id="footer">
            <div id="cell1"><a id="allButton" href="javascript:onclick_all()" class="icon-button"><span>all</span></a></div>
            <div id="cell2"><a id="addButton" href="javascript:onclick_add()" class="icon-button"><span>add</span></a></div>
            <div id="cell3"><a id="closeButton" href="javascript:onclick_close()" class="icon-button"><span>close</span></a></div>
        </div>
        <div id="hiddenArea">
            <span id="maxFileSize"><%= maxFileSize %></span>
            <span id="uid"><%= userId %></span>
            <form id="form0" enctype="multipart/form-data" method="post">
                <input name="uid" type="hidden" />
                <input name="file" id="uploader" type="file" />
            </form>
        </div>
    </body>
</html>
