body {
}

.empty {
    margin: 0;
    display: inline;
}

.clear {
    clear: both;
}

#uploadList {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

p.auto-select-text {
}

ul.collapse-set {
    list-style-type: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-family: Arial;
    font-size: 1em;
}

li[class^=collapse-item] {
    border-style: groove;
    border-color: black;
    margin: 1% 0;
}

li[class^=collapse-item] > a {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 24px;
    color: #fff;
    background-color: #808080;
}

li.collapse-item-unfolded > a {
    background-color: #000;
}

li.collapse-item-uploading > a {
    /*opacity: 0;
    filter: alpha(opacity=0);*/
    color: #000;
}

li[class^=collapse-item] > a > span {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 8px;
    right: 8px;
    height: 32px;
    line-height: 32px;
    padding-left: 40px;
    text-align: center;
}

li.collapse-item-folded > a > span {
    background: url(add32.png) no-repeat;
}

li.collapse-item-unfolded > a > span {
    background: url(minus32.png) no-repeat;
}

li[class^=collapse-item] > .ci-details {
    margin: 0;
    padding: 1em;
    text-align: center;
    background-color: #eeeeee;
    display: none;
}

li.collapse-item-unfolded > .ci-details {
    display: block;
}

#popupWindow {
    position: fixed;
    padding: 10%;
    word-wrap: break-word;
    text-align: center;
    background-color: rgba(225, 225, 225, 0.5);
    z-index: 2;
}

#popupWindow.hidden {
    display: none;
}

#popupWindow.auto-size {
    top: 10%;
    left: 10%;
    right: 10%;
}

#popupWindow.fixed-size {
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    overflow: auto;
}

#popupWindow > p {
    font-family: 'Segoe UI';
    font-size: 150%;
}

#footer {
    position: fixed;
    bottom: 0;
    margin: 1%;
    width: 98%;
    height: 3em;
    /*background-color: #4cff00*/
}

#footer > div {
    position: absolute;
    display: inline;
    /*background-color: #0ff;*/
    height: 80%;
    margin-bottom: 20%;
}

#cell1 {
    width: 33%;
    left: 0em;
}

#cell2 {
    left: 33%;
    width: 34%;
}

#cell3 {
    left: 67%;
    width: 33%;
}

#footer > div > .icon-button {
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -24px;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}

#allButton {
    background-image: url(all48.png);
}

#addButton {
    background-image: url(add48.png);
}

#closeButton {
    background-image: url(close48.png);
}

.icon-button > span {
    visibility: hidden;
}

#hiddenArea {
    display: none;
}
