body {
    text-align: center;
    font-size: large;
}

div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hiddenDiv {
    display: none;
}

.qrImg {
    display: none;
    position: absolute;
    width: fit-content;
    height: fit-content;
    z-index: 100;
}
