body {
    font-size: large;
}

.clear {
    clear: both;
}

#naviBar {
    font-size: small;
    position: relative;
    text-align: center;
}

#naviBar > div:first-child > a {
    background-color: #999999;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 5px;
    display: block;
}

#naviBar > div:last-child {
    opacity: 0.5;
    margin-top: 15px;
}

#naviBar > div:last-child > a {
    color: #000;
}

#uploadList {
    position: fixed;
    left: 4%;
    right: 4%;
    top: 0px;
    bottom: 80px;
    overflow: auto;
}

ul.collapse-set {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: Arial;
}

li[class^=collapse-item] {
    border-style: groove;
    border-color: black;
    margin-top: 8px;
}

li[class^=collapse-item] > a {
    height: 80px;
    text-decoration: none;
    display: block;
    position: relative;
    color: #fff;
    background-color: #808080;
    overflow: hidden;
}

li.collapse-item-unfolded > a {
    background-color: #000;
}

li.collapse-item-uploading > a {
    color: #000;
}

li[class^=collapse-item] > a > span {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 8px;
    right: 56px;
    height: 48px;
    line-height: 48px;
    padding-left: 56px;
    margin-top: -24px;
    background-size: 48px 48px;
    background-repeat: no-repeat;
}

li.collapse-item-folded > a > span {
    background-image: url(add256.png);
}

li.collapse-item-unfolded > a > span {
    background-image: url(minus256.png);
    background-size: 48px 16px;
    background-position-y: 16px;
}

li[class^=collapse-item] > div {
    position: relative;
}

li[class^=collapse-item] > div > .ci-details {
    margin: 0;
    padding: 2%;
    word-wrap: break-word;
    text-align: center;
    display: block;
}

li.collapse-item-folded > div > .ci-details {
    display: none;
}

.progressbar {
    z-index: -1;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #eeeeee;
}

#popupWindow {
    position: fixed;
    word-wrap: break-word;
    text-align: center;
    left: 18%;
    right: 18%;
    top: 30px;
    bottom: 40px;
    padding: 15px;
    font-family: 'Segoe UI';
    font-size: 150%;
    border: 5px dashed rgba(255, 255, 255, 0.5);
    background-color: rgba(225, 225, 225, 0.5);
    z-index: 100;
}

#popupWindow.hidden {
    display: none;
}

#popupWindow.auto-size {
    overflow: auto;
}

#popupWindow.fixed-size {
    border-style: solid;
}

#popupWindow.auto-size > div {
    display: none;
}

#popupWindow > div {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

#popupWindow > div > span {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.5);
}

#footer > div {
    position: absolute;
    display: inline;
    height: 100%;
}

#cell1 {
    width: 33%;
    left: 0;
}

#cell2 {
    left: 33%;
    width: 34%;
}

#cell3 {
    left: 67%;
    width: 33%;
}

#footer > div > .icon-button {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    width: 64px;
    height: 64px;
    background-size: 64px 64px;
    background-repeat: no-repeat;
}

#allButton {
    background-image: url(all256.png);
}

#addButton {
    background-image: url(add256.png);
}

#closeButton {
    background-image: url(close256.png);
}

.icon-button > span {
    visibility: hidden;
}

#hiddenArea {
    display: none;
}

@media (min-width:360px) {
    #popupWindow.fixed-size {
        left: 20%;
        right: 20%;
    }
}

@media (min-width:480px) {
    #footer {
        height: 120px;
    }

    #footer > div > .icon-button {
        background-size: 96px 96px;
        margin-left: -48px;
        margin-top: -48px;
        width: 96px;
        height: 96px;
    }

    #popupWindow.fixed-size {
        left: 50%;
        margin-left: -180px;
        width: 320px;
    }

    #uploadList {
        left: 10%;
        right: 10%;
        top: 0px;
        bottom: 120px;
    }

    li[class^=collapse-item] {
        margin-top: 12px;
    }

    li[class^=collapse-item] > a {
        height: 120px;
    }

    li[class^=collapse-item] > a > span {
        margin-top: -32px;
        left: 16px;
        right: 80px;
        height: 64px;
        line-height: 64px;
        padding-left: 80px;
        background-size: 64px 64px;
    }

    li.collapse-item-unfolded > a > span {
        background-size: 64px 21px;
        background-position-y: 22px;
    }
}

@media (min-height:480px) {
    #popupWindow.auto-size {
        top: 10%;
        bottom: 15%;
    }

    #popupWindow.fixed-size {
        top: 50%;
        margin-top: -180px;
        height: 320px;
    }
}
